[Unit]
Description=Mirroring Task Scheduler
After=network.target

[Service]
Type=exec
User=mirrors
Group=mirrors

ExecStart=shined
ExecReload=shine reload
Restart=always

WorkingDirectory=/home/mirrors/shine/instance
#RuntimeDirectory=shine
#StateDirectory=shine
#LogsDirectory=shine
#ConfigurationDirectory=shine
#RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
